.config/fcitx/clipboard
.config/fcitx/conf
.config/fcitx/data
.config/fcitx/dbus
.config/fcitx/log
.config/fcitx/cached_layout
.config/fcitx/profile
.config/pulse
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.state
