! Xresources

! URxvt*font: -benis-lemon-medium-r-normal--10-110-75-75-m-50-ISO10646-1
! URxvt*boldFont: -benis-lemon-medium-r-normal--10-110-75-75-m-50-ISO10646-1
URxvt*font: xft:hermit:size=8
URxvt*boldFont: xft:hermit:bold:size=8

Xft.dpi: 96

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt.scrollBar: false
URxvt.internalBorder: 15

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

Xmessage*font: -*-lemon-*
Xmessage*background: #1C1616
Xmessage*foreground: #E5E3DC
Xmessage*form.*.shapeStyle: rectangle
Xmessage*Scrollbar.width: 1
Xmessage*Scrollbar.borderWidth: 0
Xmessage*Buttons: OK
Xmessage*defaultButton: OK
Xmessage*baseTranslations:#augment\
  <Key>Return:exit()\n\
  <Key>q:exit()
